<div class="pt-7 pl-1 pb-7 mx-auto w-2/3"><app-header  header="Carrello"></app-header></div>
<div class="pb-10 mx-auto w-2/3">
  <div class="mx-auto justify-center px-6 md:flex md:space-x-6 xl:px-0">
    <div class="rounded-lg md:w-2/3">
      <div *ngIf="cartProducts.length == 0" class="pl-2 text-lg">
        Aggiungi almeno un prodotto al carrello per continuare.
      </div>
      <ng-container *ngFor="let product of cartProducts">
        <app-cart-product [price]="product.prezzo" [imageId]="product.imageId" [id]="product.prodottoId" [material]="product.materiale" [description]="product.descrizione" [name]="product.nome"></app-cart-product>
      </ng-container>
    </div>
    <!-- Sub total -->
    <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
      <div class="mb-2 flex justify-between">
        <p class="text-gray-700">Totale parziale</p>
        <p class="text-gray-700">{{ partialTotal | currency:'EUR' }}</p>
      </div>
      <div class="flex justify-between">
        <p class="text-gray-700">Spedizione</p>
        <p class="text-gray-700">{{ shipping | currency:'EUR' }}</p>
      </div>
      <hr class="my-4"/>
      <div class="flex justify-between">
        <p class="text-lg font-bold">Totale</p>
        <div class="">
          <p class="mb-1 text-lg font-bold">{{ total | currency:'EUR'}}</p>
          <p class="text-sm bg- text-gray-700">IVA Inclusa</p>
        </div>
      </div>
      <button [ngClass]="{'bg-[#b6b5b5]': cartProducts.length == 0, 'bg-[#cead6f] hover:bg-[#917643]': cartProducts.length != 0}" class="mt-6 w-full rounded-md  py-1.5 font-medium text-white ">Check out</button>
    </div>
  </div>
</div>

