<div class="shadow bg-[#e9e9e9] 2xl:text-[13pt] xl:text-[11pt] lg:text-[10pt]">
  <div class="w-3/5 h-16 mx-auto flex items-center justify-between">
      <a class="2xl:text-2xl xl:text-xl cursor-pointer" routerLink="">Marketplace Artigiani</a>
      <ul class="flex items-center gap-5">
        <li><a routerLink="" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Home</a></li>
        <li><a routerLink="prodotti" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Prodotti</a></li>
        <li *ngIf="!isAuthenticated()"><a routerLink="accedi" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Accedi</a></li>
        <li *ngIf="!isAuthenticated()"><a routerLink="registrati" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Registrati</a></li>
        <li *ngIf="isAuthenticated()"><a routerLink="inserisciProdotto" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Inserisci Prodotto</a></li>
        <li *ngIf="isAuthenticated()"><a routerLink="mieiProdotti" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">I miei Prodotti</a></li>
        <li *ngIf="isAuthenticated()"><a routerLink="accedi" (click)="logout()" class="hover:text-white transition-colors hover:bg-[#5b5951] p-2 rounded-lg" href="">Esci</a></li>
        <li><a routerLink="carrello" class="hover:text-white transition-colors p-2 rounded-lg" href="">
          <div class="flex min-h-screen items-center justify-center">
            <div class="relative scale-75 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
              <span *ngIf="cartNumber != 0" class="absolute -top-2 left-4 rounded-full bg-red-500 p-0.5 px-2 text-sm text-red-50">{{cartNumber}}</span>
            </div>
          </div>
        </a></li>
      </ul>
  </div>
</div>
