<div class="pt-10 pb-10 w-screen flex items-center">
  <div class="h-max mx-auto flex flex-col items-center">

      <div class="bg-white shadow-xl px-10 pt-6 pb-10 flex flex-col gap-4 text-sm rounded-2xl" (keydown.enter)="signup(nome.value, cognome.value, codiceFiscale.value, cellulare.value, residenza.value, email.value, password.value)">
        <p class="text-3xl mx-auto">Registrati</p>
          <div>
            <label class="text-gray-600 font-bold inline-block pb-2" for="nome">Nome</label>
            <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="nome" placeholder="Mario" #nome>
          </div>
          <div>
            <label class="text-gray-600 font-bold inline-block pb-2" for="cognome">Cognome</label>
            <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="cognome" placeholder="Rossi" #cognome>
          </div>
          <div>
            <label class="text-gray-600 font-bold inline-block pb-2" for="codiceFiscale">Codice Fiscale</label>
            <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="codiceFiscale" placeholder="MRARSS80C03G273J" #codiceFiscale>
          </div>
          <div>
            <label class="text-gray-600 font-bold inline-block pb-2" for="cellulare">Cellulare</label>
            <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="cellulare" placeholder="328 123 45 67" #cellulare>
          </div>
          <div>
            <label class="text-gray-600 font-bold inline-block pb-2" for="residenza">Residenza</label>
            <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="text" name="residenza" placeholder="Via Monti, 24, RM" #residenza>
          </div>
          <div>
              <label class="text-gray-600 font-bold inline-block pb-2" for="email">Email</label>
              <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="email" name="email" placeholder="mario.rossi@gmail.com" #email>
          </div>
          <div>
              <label class="text-gray-600 font-bold inline-block pb-2" for="password">Password</label>
              <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2" type="password" name="password" placeholder="******" #password>
          </div>

          <div>
              <button class="bg-[#cead6f] w-full py-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#917643]" (click)="signup(nome.value, cognome.value, codiceFiscale.value, cellulare.value, residenza.value, email.value, password.value)" >Registrati</button>
          </div>
      </div>
      <p class="text-sm text-gray-500 mt-10">Sei già registrato? <a href="accedi" class="text-[#cead6f] hover:text-[#917643] font-bold">Accedi!</a></p>
  </div>
</div>
