
<div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
  <img [src]="getImage()" alt="product-image" class="w-full rounded-lg sm:w-40 max-h-[150px]" />
  <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
    <div class="mt-5 sm:mt-0">
      <h2 class="text-xl font-bold text-gray-900">{{name}}</h2>
      <p class="mt-1 text-md text-gray-700">{{description}}</p>
      <p class="mt-1 text-md text-gray-700">{{material}}</p>
      <p class="mt-1 text-md">{{ price | currency:'EUR'}}</p>
    </div>
    <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6 relative">
      <div class="flex justify-end">
        <svg (click)="openConfirmModal()" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="absolute bottom-0 right-4">
        <div>
          <button class="bg-[#cead6f] px-3 w-full py-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#917643]" (click)="openModal()">Modifica</button>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="modal">
  <app-edit-modal (closeModal)="closeModal()" [price]="price" [imageId]="imageId" [id]="id" [material]="material" [description]="description" [name]="name"></app-edit-modal>
</ng-container>


<ng-container *ngIf="confirmModal">
  <app-confirm-modal (closeModal)="closeConfirmModal()" [id]="id" ></app-confirm-modal>
</ng-container>

